.close-icon {
    fill: var(--logo-cl-heder);
    transition-property: fill;
    transition-duration: var(--fast-animation);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form-title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
  
    color: var(--list-cl-txt);
    margin-bottom: 12px;
  }
  
  .modal-form {
    display: flex;
    flex-direction: column;
    max-width: 448px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .form-modal-group {
    position: relative;
    margin-bottom: 10px;
  }
  
  .form-label {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
  }
  
  .form-input-group {
    position: relative;
  }
  
  .form-modal-input {
    padding: 12px 42px;
    transition-property: border;
    transition-duration: var(--fast-animation);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;

        &:hover,
        &:focus {
        border: 1px solid var(--btn-cl-accent);
        }

        & + .form-icon:hover,
        & + .form-icon:focus {
        border: 1px solid var(--btn-cl-accent);
        }

        &:hover + .form-icon,
        &:focus + .form-icon {
        fill: var(--btn-cl-accent);
        }
    }
  
  .form-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition-property: fill;
    transition-duration: var(--fast-animation);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
  }
  
  .form-message-group {
    margin-bottom: 20px;
  }
  
  .form-message {
    display: block;
    height: 138px;
    padding: 12px 16px;
    resize: none;
    transition-property: border;
    transition-duration: var(--fast-animation);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;

         &:hover,
         &:focus {
         border: 1px solid var(--btn-cl-accent);
        }
  }
  
  .form-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
  }
  
  
  /*
  ==========================
  | custom-check
  ==========================
  */
  
  
  .custom-check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    outline: 2px solid var(--list-cl-txt);
    outline-offset: -2px;
    border-radius: 4px;
    transition: background-color var(--fast-animation);
    background-size: contain;
    background-origin: border-box;
  }
  
  .form-modal-checkbox:checked + .custom-check .custom-check-icon {
    opacity: 1;
  }
  
  .custom-check-icon {
    opacity: 0;
    transition: opacity var(--fast-animation);
  }
  
  .form-modal-checkbox:checked + .custom-check {
    background-color: var(--btn-cl-accent);
    outline: 2px solid var(--btn-cl-accent);
    outline-offset: -2px;
    border-radius: 4px;
    background-size: contain;
    background-origin: border-box;
  }
  
  .checkbox-link {
    color: var(--btn-cl-accent);
    text-decoration: none;
    border-bottom: 1px solid var(--btn-cl-accent);
  }