// header logo

  .logo-header {
    margin-right: 93px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  
    letter-spacing: 0.03em;
  
    color: var(--btn-cl-accent);
  }

  .logo-black {
    color: var(--logo-cl-heder);
  }

  // footer logo

  .footer__logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  
    letter-spacing: 0.03em;
  
    color: var(--btn-cl-accent);
    margin-bottom: 20px;
    display: block;
  }
  
  .footer__logo-white {
    color: var(--logo-cl-footer);
  }
  