// header logo

  .logo-header {
    
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  
    letter-spacing: 0.03em;
  
    color: var(--btn-cl-accent);

    @include mq(mobile-only) {
      padding-top: 16px;
      padding-bottom: 16px;
      margin-left: 15px;
    }

    @include mq(tablet) {
      margin-right: 93px;

    }
  }

  .logo-black {
    color: var(--logo-cl-heder);
  }

  // footer logo

  .footer__logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  
    letter-spacing: 0.03em;
  
    color: var(--btn-cl-accent);
    margin-bottom: 20px;
    display: block;
    
    @include mq(mobile-only) {
      text-align: center;
    }
  }
   
  
  .footer__logo-white {
    color: var(--logo-cl-footer);
  }