.features {
  display: flex;
  gap: 30px;

  @include mq(mobile-only) {
    flex-wrap: wrap;
  }
  @include mq(tablet-only) {
    flex-wrap: wrap;
  }
}

.features__item {
  @include mq(tablet) {
    flex-basis: calc((100% - 30px) / 2);
  }
}
.features__icon-holder {
  width: 270px;
  height: 120px;
  background-color: var(--background-cl-grey);
  border-radius: 4px;

  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(mobile-only) {
    width: 100%;
  }

  @include mq(tablet-only) {
    width: 354px;
  }
}

.features__text {
  width: 270px;

  @include mq(mobile-only) {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include mq(tablet-only) {
    width: 354px;
  }
}

.features__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  color: #212121;
  @include mq(mobile-only) {
    text-align: center;
  }
}
