.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.heder-container {
  display: flex;
  align-items: center;
  position: relative;
}

.menu-container {
  @include mq(tablet) {
    display: flex;
  }

  @include mq(mobile-only) {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility var(--fast-animation), opacity var(--fast-animation);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 796px;
    transform: translateY(-100%);
    background: var(--background-cl-white);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    &.is-open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}

.header-link {
  color: var(--list-cl-txt);
  font-family: var(--main-font);
  font-weight: 500;

  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  display: block;

  position: relative;
  transition-property: color;
  transition-duration: var(--fast-animation);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--btn-cl-accent);
  }

  @include mq(tablet) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;

    &.current::after {
      content: " ";
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--btn-cl-accent);
      bottom: -1px;
      left: 0;
    }
  }
}

.header-navigation {
  @include mq(mobile-only) {
    margin-bottom: 32px;
  }
}

.header-navigation:not(:last-child) {
  @include mq(tablet) {
    margin-right: 50px;
  }
}

.current {
  color: var(--btn-cl-accent);
}

.header-list {
  @include mq(mobile-only) {
    margin-left: 40px;
    margin-top: 48px;
  }

  @include mq(tablet) {
    display: flex;
  }
}

.header-contacts-group {
  position: absolute;

  @include mq(tablet) {
    right: 15px;
  }
  @include mq(tablet-only) {
    top: 21px;
  }

  @include mq(mobile-only) {
    bottom: 48px;
    margin-left: 40px;
  }
}
.header-contacts {
  display: flex;

  @include mq(tablet-only) {
    flex-direction: column;

    & .header-mail {
      margin-bottom: 10px;
      padding: 0;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.02em;
    }

    & .header-phone {
      padding: 0;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.02em;
    }
  }

  @include mq(mobile-only) {
    flex-direction: column-reverse;

    & .header-phone {
      padding: 0;
      margin-bottom: 32px;
      font-weight: 500;
      font-size: 34px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      color: var(--btn-cl-accent);
    }

    & .header-mail {
      padding: 0;
      font-weight: 500;
      font-size: 24px;
      line-height: 1.16;
      letter-spacing: 0.02em;
      margin-bottom: 64px;
    }
  }
}

.contacts-list:not(:last-child) {
  @include mq(desktop) {
    margin-right: 30px;
  }
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;

  @include mq(mobile-only) {
    display: none;
  }
}

.header-social {
  @include mq(mobile-only) {
    display: flex;
    flex-wrap: wrap;
  }
  @include mq(tablet) {
    display: none;
  }
}

.header-social-item:not(:last-child)::after {
  content: " ";
  margin-left: 10px;
  margin-right: 10px;

  width: 22px;
  height: 0px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.header-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--btn-cl-accent);
}
