.section__another-bg {
  background-color: var(--background-cl-grey);
}
.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  @include mq(desktop) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
.team {
  @include mq(tablet-only) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @include mq(desktop) {
    display: flex;
  }
}

.team__item {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @include mq(mobile-only) {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include mq(tablet-only) {
    margin-right: 0px;
    width: 354px;
  }

  @include mq(desktop) {
    margin-right: 30px;
    width: 270px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.team__inner {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--list-cl-txt);

  text-align: center;

  margin-bottom: 10px;
}

.team__txt {
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
